<div class="card-container">
    Badges
    <hr class="e2e">
</div>

<!-- <br/> -->
<div class="card-container">
    <div class="row d-flex">
        <div class="col-8">
            <img src="assets/img/badges/goal.jpg" alt="invite" width="100" height="100">
        </div>
        <div class="col-4">
            Goal
        </div>
    </div>
    <div class="row d-flex">
        <div class="col-8">
            <img src="assets/img/badges/engagement.jpg" alt="invite" width="100" height="100">
        </div>
        <div class="col-4">
            Engagement
        </div>
    </div>
    <div class="row d-flex">
        <div class="col-8">
            <img src="assets/img/badges/tribe.jpg" alt="invite" width="100" height="100">
        </div>
        <div class="col-4">
            Tribe
        </div>
    </div>
    <div class="row d-flex">
        <div class="col-8">
            <img src="assets/img/badges/membership.jpg" alt="invite" width="100" height="100">
        </div>
        <div class="col-4">
            Membership
        </div>
    </div>
</div>

